@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

html {
    font-size: calc(10px + 0.390625vw);
}

body {
    font-family: 'DM Sans', sans-serif;
        overflow: scroll;
            overflow-x: hidden;
    }
        
    ::-webkit-scrollbar {
        width: 0;
            /* Remove scrollbar space */
        background: transparent;
            /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
}

.sorttable_sorted,
.sorttable_sorted_reverse,
table.sortable thead td:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort) {
    white-space: nowrap;
    cursor: pointer;
}

table.sortable thead td:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
}

tr {
    padding: 4px 4px 4px 4px;

}

/* NavBar */
.navbar {
    display: none;
    /* Hide the navigation bar by default */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #32a1a7;
    text-align: center;
    padding: 10px;
    animation: slide-up 0.5s ease-out;
    font-size: 11px;
    /* Apply the animation effect */
}

.scrollable-content {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */

    /* Hide the scrollbar */
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

/* Keyframe animation */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        /* Start position: move the navigation bar downwards */
    }

    100% {
        transform: translateY(0);
        /* End position: bring the navigation bar to its original position */
    }
}

.navbar-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
}
    
.navbar-toggle .icon {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 6px;
}

a:link {
    text-decoration: none;
    color: #9506FC;
}

a:visited {
    text-decoration: none;
}
            
a:hover {
    text-decoration: none;
    color: #e89207;
}
        
a:active {
    text-decoration: none;
}


.container {
    width: 100%;
    height: 100%;
}


.ProjectsData{
    padding: 20px 20px 20px 20px;
    max-width: 100%;
    overflow-x: auto;
}

.left {

    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
}

.right {

    width: 100%;
    clear: both;
    text-align: justify;
    text-justify: inter-word;
}
#MisOrMap {

    width: 60%;
    margin: auto;
}

@media (max-width: 1920px) {
    .left {
        margin: 0;
        top: 50%;

    }
    .ProjectsData {
    margin-left: 20px;
    }
}
@media (max-width: 1536px) {
    .left {
    margin: 0;
    top: 50%;

    }
    .ProjectsData {
    padding: 20px 20px 20px 20px;
    }               
}
/* xl */
@media (max-width: 1280px) {
    #MisOrMap {
        width: 100%;
    }
    .left {
    margin: 0;
    }
    .ProjectsData {
        margin-left: -10px;
    }
}
/* lg */
@media (max-width: 1024px) {
    #MisOrMap {
        width: 100%;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .right {
        width: 100%;
        position: static;
    }
    .left
    {
    width: 100%;
    position: relative;
    margin: 0;
    top: 0%;
    -ms-transform: translateY(-0%);
    transform: translateY(-0%);
    }
    .navbar {
        display: block;
            /* Show the navigation bar */
    }
    
}
@media (max-width: 768px) {
    #MisOrMap {
            width: 100%;      
    }
}
/* sm */
@media (max-width: 640px) {
    #MisOrMap {
            width: 100%;
        }
}
/* xs */
@media (max-width: 425px) {
    #MisOrMap {
            width: 100%;
            
        }
}

/* Start Map CSS */
#DEO1st {
    height: auto;
    fill: #350de9;
    stroke: #ffffff;
    stroke-width: 1;
}

#DEO2nd {
    height: auto;
    fill: #c5c5c5;
    stroke: #ffffff;
    stroke-width: 10;
}
#CDOC {
    height: auto;
    fill: #e89207;
    stroke: #ffffff;
    stroke-width: 10;
}
path:hover {
    fill: rgb(192, 63, 224);
    stroke: red;
    stroke-width: 3px;
    transition: fill 1s;
}

/* Styles for the popup container */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style for the scrollable container */
.table-container {
    max-height: 500px;
    /* Adjust the height as needed */
    overflow: auto;
}

/* Responsive table styles */
.responsive-table {
    width: 100%;
    max-width: 100%;
}

.responsive-table table {
    width: 100%;
}

.responsive-table table th,
.responsive-table table td {
    padding: 8px;
    text-align: left;
}

/* Style for the square button */
.show-table-square {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    /* Blue background color */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

/* Style for the star button */
.show-table-star {
    display: inline-block;
    padding: 10px;
    background-color: yellow;
    /* Yellow background color */
    color: #FFD700;
    /* Gold color for the star */
    cursor: pointer;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    /* Adjust the font size as needed */
    line-height: 1;
}

.btntxt {
    font-size: large;
    text-align: center;
    margin-top: -70px;

}

.icontext {
    margin-top: -10px;
}

.show-table-button {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
/* End Map CSS rm -f .git/index.lock */

