@media (max-width: 1536px) {


}

/* xl */
@media (max-width: 1280px) {
    #MisOrMap {
            width: 118%;
    
        }
            .left {
                    margin-left: 40px;
                }

}

/* lg */
@media (max-width: 1024px) {
    #MisOrMap {
            width: 120%;
            
        }
    .left {
        margin-left: 40px;
    }


}

/* md */
@media (max-width: 768px) {
                .container {
                        flex-direction: column;
                    }
                
                    .left,
                    .right {
                        width: 100%;
                        margin: 0;
                    }
}

/* sm */
@media (max-width: 640px) {


}

/* xs */
@media (max-width: 425px) {


}

#MisOrMap {
    padding-top: 50px;
    padding-left: 40px;
    margin: -130px -130px -130px -130px;
    }

#DEO1st {
    height: auto;
    fill: #350de9;
    stroke: #ffffff;
    stroke-width: 1;
    }

#DEO2nd {
    height: auto;
    fill: #c5c5c5;
    stroke: #ffffff;
    stroke-width: 1;
    }

#CDOC {
    height: auto;
    fill: #e89207;
    stroke: #ffffff;
    stroke-width: 1;
    }

path:hover {
    fill: rgb(192, 63, 224);
    stroke: red;
    stroke-width: 3px;
    transition: fill 1s;
}
.st0 {
    fill: #9506FC;
    stroke: #000000;
    stroke-width: 1.000000e-02;
    stroke-miterlimit: 10;
    	}
.st1 {
    fill: #1207E2;
    stroke: #000000;
    stroke-miterlimit: 10;
    	}  
.st2 {
    fill: #EF7C1D;
    stroke: #000000;
    stroke-miterlimit: 10;
    	}
    
.st3 {
    font-family: 'ArialNarrow';
    	}
    
.st4 {
    font-size: 100px;
    	}
.column {
    float: left;
    padding: 10px;
}
.left {
    width: 60%;
    position: fixed;
}

.right {
    width: 40%;
    float: right;
    padding-right: 10px;
    padding-top: 20px; 
}

